/* EntrepreneurDashboard.css */

body {
    font-size: 16px;
}

#sidebar {
    min-height: 100vh;
    background-color: #343a40;
    /* Dark background color */
}

#sidebar ul.nav flex-column {
    padding-top: 20px;
}

#sidebar ul.nav a {
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    /* White text color */
}

#sidebar ul.nav a:hover {
    background-color: #495057;
    /* Darker background color on hover */
}

/* Main content */
main {
    padding: 20px;
}

/* Media query for responsiveness */
@media (max-width: 991.98px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        z-index: 1000;
        display: none;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #343a40;
        transition: all 0.3s;
    }

    #sidebar.show {
        left: 0;
        display: block;
    }

    main {
        padding-top: 50px;
    }
}

/* Toggle button */
#sidebarCollapse {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    cursor: pointer;
}