/* .footer.undefined.bg-dark.text-white {
    display: none;
}



.head.container {
    display: none !important;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark {
    display: none !important;
}

.nav-pills li a:hover {
    background-color: blue;
    z-index: 90;
} */