.full-height {
    height: 100vh;
    /* Set the height to 100% of the viewport height */
}

.profile-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow effect */
}

.text-light:hover {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    /* Add white shadow on hover */
}

.footer undefined bg-dark text-white {
    display: none !important;
}

/* nav.flex-column.full-height.my-3.navbar.navbar-expand.navbar-light {
    display: none !important;

} */